/*
 * This is an integral part of the paging logic; don't break it.
 */

body {
  margin: 0;
}

@media screen {
  html {
    overflow: hidden;
  }

  body {
    height: 100%;
    width: 100%;
  }

  .slide:not(.current-slide) {
    display: none;
  }
}


/*
 * Printing support
 */

@page {
  margin: 0;
  size: landscape;
}

.slide {
  page-break-after: always;
}


/*
 * Optional formatting; feel free to change or override.
 */

body {
  font-family: sans-serif;
  font-size: 4.0vw;
}

table {
  border: 2px solid;
  border-collapse: collapse;
  font: inherit;
}

th, td {
  border: 1px solid;
  padding: 1.0vw;
}

@media print {
  /* viewport units (vw) are apparently sometimes broken for printing */
  body {
    font-size: 32pt;
  }
}

.slide {
  margin: 5% 10%;
}

h1 {
  font-size: 182%;
  text-align: center;
}

h2 {
  font-size: 136%;
}

img {
  display: block;
  margin: 0 auto;
}

body {
  background-color: black;
  color: white;
}

@media screen {
  body {
    /* gradient background doesn't work well in print */
    background-image: linear-gradient(black, rgb(20,20,41), rgb(82,77,97));
  }
}

a {
  color: inherit;
}

@media (display-mode: fullscreen) {
  a {
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
}

/* center title page horizontally and vertically */
.slide:first-of-type {
  align-content: center;
  text-align: center;
}

/* possible artifacts from Markdown processing */
body > p {
  display: none;
}

/* highlight.js integration */
.hljs {
  background-color: transparent;
  padding: 0;
}
